body{
    
    color: white;
    font-family: "Anton SC", sans-serif;
    letter-spacing: 2px;
    display: flex;
    flex-wrap: wrap;
    max-width: 85%;
    margin: 0 auto;
    flex-direction: column;
    overflow-x: hidden;
    background-image: linear-gradient(
  310deg,
  hsl(251deg 95% 8%) 1%,
  hsl(263deg 85% 32%) 44%,
  hsl(263deg 85% 32%) 54%,
  hsl(251deg 95% 8%) 100%
);

/* 
    background-image: url('wallpaper.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;  
    background-attachment: fixed;
   
    padding: 0; */


}

.name-line{
    font-weight: 600;
    font-size: 3.5em;
    padding: 0;
    margin: 0;
}
.intro{
    max-width: 100% ;
    margin-top: 10%;
    display: flex;
    /* border: rebeccapurple 2px solid; */
    flex-direction: column;
    height: 80vh;
    overflow: hidden;
    border-radius: 25px;
}
.front-page{
    /* border: red 2px solid; */
    padding: 1% 5%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
}
.intro-text{
    font-weight: 600;
    animation: heartBeat 1s infinite ease-in-out;
    /* border: rebeccapurple 2px solid; */
}

.bg-image{ 
    max-width: 500px;
    border-radius: 10px;
}

@keyframes showText{
    0%{
        opacity: 40%;
        scale: 0.5;
    }
    85%{
        opacity: 100%;
        scale: 1.2;
    }
    97%{
        scale: 1;
    }
}

@keyframes heartBeat {
    0%{
        scale: 1;
        opacity: 100%;
    }
    50%{
        scale: 0.99;
        opacity: 80%;
    }
}
@keyframes imageEntry {
    0%{
        opacity: 40%;
        scale: 0.5;
        
    }
    50%{
        opacity: 100%;
        scale: 1.1;
        rotate: 0deg;
        
    }
    100%{
        rotate: -7deg;
        
    }

}


.nav-bar{
    position: fixed;
    display: flex;
    width: 85%;
    font-size: 1.2em;
    background-color: rgba(0, 0,0, 0.3);
    border-radius:40px ;
    z-index: 10;
    top: 10px;
    
}
.nav-items{
    display: flex;
    justify-content: space-between;
    /* border: rebeccapurple 2px solid; */
    width: 100%;
    padding: 0 3em;

}
.nav-item{
    list-style: none;
    font-weight: 500;
    text-decoration: none;
}



.hire{
    font-family: inherit;
    margin: -7px;
    font-size: 0.9em;
    border-radius: 20px;
    padding: 10px 20px;
}
.item{
    text-decoration: none;
    color: white;
}
.nav-hidden {
    position: absolute; /* Changes from fixed */
    top: auto;
    background-color: transparent; /* Optional styling for when it stops following */
    box-shadow: none;
}

.line-1{
    z-index: 15;
    opacity: 0.5;
}
.line-2{
    z-index: 10;
    opacity: 0.7;
}
.line-1{
    z-index: 5;
}

.wave{
    left: 100px;
    /* top: 0; */
    bottom: -1em;
    width: 200%;
    height: 200%;
    background-repeat: repeat-x;
    background-position: 0 bottom;
    transform-origin: center bottom;
    position: absolute;  
}


.wave-1{
    /* -webkit-background-size: 50% 80px ; */
    background-size: 50% 80px;
    width: 100%;
    /* background-size: contain;     */
    z-index: 1;
    animation: animation 24s linear infinite;
    

}
.wave-2{
    
    width: 100%;
    background-size: 50% 100px;
    animation: animation 12s linear infinite;
    z-index: 2;
  
  
}
.wave-3{
    width: 100%;
    background-size: 50% 80px;
    animation: animation 18s linear infinite;    
    z-index: 3; 
}

@keyframes animation {
    0%{
        transform: translateX(-25%) translateY(0) scaleY(1);
    }
    50%{
        transform: translateX(-50%) translateY(0) scaleY(1.2);
    }
    100%{
        transform: translateX(-25%) translateY(0) scaleY(1);
    }
}

.wave-border{
    position: relative;
    bottom:18%;
    background-size: 1000px 100px;
    width: 75%;
    max-height: 90px;  
}

/* work together */

.work-together{
    /* border: rebeccapurple 2px  solid; */
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* bottom: 6%; */
    border-radius: 50px;
    min-height: 30em;

}

.work-text{
    position: relative;
    padding: 0 20%;
    font-size: 400%;
}
.touch{
    /* border: red 2px solid; */
    position: relative;
    /* top: 70%; */
    font-family: inherit;
    /* margin: -7px;     */
    font-size: 0.9em;
    border-radius: 20px;
    padding: 10px 20px;
}

/* about */

.about{
    /* border: rebeccapurple 2px  solid; */
    max-width: 100% ;

    margin:  6% 0;
    display: flex;
    border-radius: 75px;
    box-shadow: rgba(17, 17, 26, 0.15) 0px 4px 16px, rgba(17, 17, 26, 0.15) 0px 8px 24px, rgba(17, 17, 26, 0.15) 0px 16px 56px;

}
.about-box{
    display: flex;
}

.about-me{
    padding: 1% 5%;
    animation: hover 0.5s ease-in;
}

.about-heading{
    
    /* border: rebeccapurple 2px  solid; */
    font-size: 3em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes hover {
    0%{
        opacity: 80%;
        transform: translateY(10px);
    }
    100%{
        opacity: 100%;
        transform: translateY(0);
    }
}


.left-margin {
    position: fixed;
    top: 20%;
    width: 6%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 10px; */
    z-index: 10;
    left: 0; /* Stick to the left */
    padding-left: 00px;
    font-size: 1.35em;
    color: white;
    writing-mode: vertical-rl; 
    /* transform: rotate(180deg); */
    padding-top: 0;
}



.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.social-icon {
    color: white;
    font-size: 1.2em;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
    color: #007bff; /* Change this color as per your preference */
}

/* Individual colors for each icon (optional) */
.social-icon.github:hover {
    color: #4078c0; /* GitHub blue */
}

.social-icon.instagram:hover {
    color: #e4405f; /* Instagram pink */
}

.social-icon.twitter:hover {
    color: dimgray; /* Twitter blue */
}

.social-icon.linkedin:hover {
    color: #0077b5; /* LinkedIn blue */
}

.social-icon.leetcode:hover {
    color: #FFA116; /* LeetCode orange */
}

.social-media-icons-phone{
    display: none;
}

/* PROJECTS */

.nav-button {
    position: absolute;
    transform: translateY(-600%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    z-index: 20;
}


.Projects {
    text-align: center;
}

.proj-text {
    font-size: 2rem;
    color: white;
}

/* Slider container */
.slider-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}

/* Slider styles */
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    list-style: none;
    padding: 0;
    margin: 0;
}

.slider-logo{
    color: white;
    font-size: 1.7em;
}
.slide {
    flex: 0 0 100%;
    position: relative;
    text-align: center;
}



/* Textbox styles */
.textBox {
    position: absolute;
    top: 65%;
    left: 23%;
    max-width: 35%;
    transform-origin: left;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 1em;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.slide:hover .textBox {
    opacity: 1;
    transform: translate(-50%, 0);
}

/* Navigation buttons */
.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 2rem;
    z-index: 1000;
}

#prev {
    left: 20px;
}

#next {
    right: 20px;
}

.nav-button:hover {
    background-color: #555;
}

/* Pagination bubbles container */
.pagination {
    text-align: center;
    margin-top: 1%;
}

.bubble {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 5px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.bubble.active {
    background-color: #333;
}

.projContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.projPic,
.projVid {
    width: 100%;
    height: auto;
    max-height: 500px; /* Adjust this value as needed */
    object-fit: cover;
    display: block;
    transition: opacity 0.5s ease-in-out;
}

.projVid {
    display: none; /* Initially hide the video */
}

.hire-button{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}


@media (max-width: 550px) {
    .nav-item{
        align-items: center;
        text-align: center;
    }
    
    .intro{
        margin-top: 40%;
        padding-bottom: 8%;
        max-width: 100vw;
        font-size: .8rem;
        text-align: center;
        align-items: center;
    }
    .front-page{
        max-width: 85%;
        /* border: red 2px solid; */
        flex-direction: column;
        padding: 0;

    }
    .bg-image{
        width: 350px;
        margin-top: 25%;
    }

    .left-margin{
        display: none;        
        position: relative;      
        font-size: 1.35em;
        color: white;     
        border: red 2px solid;
        /* writing-mode: horizontal-tb;  */
    }
    .social-media-icons-phone{
        display: block;
        margin-top: 1.75em;
        margin-bottom: 1.35em;
        font-size: 2em;
        word-spacing: .8em;
    }

    .wave-border{
        display:none;
    }
        
    .about-me{
        font-size: .8em;    
    }
    .about{

        border-radius: 2em;
        margin-top: 2em;
        max-width: 100%;
    }
    .about-box{
        flex-direction: column;
        margin: 10% 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
    }
    .about-heading{
        margin: 5%;
    }

    .work-together{
        min-height: 15em;
    }
    .Projects{
        max-width: 85%;      
    } 
    .work-together{
        text-align: center;
        margin-bottom: 4rem;
    }   
    .slider-container{
        max-width:100vw ;
    }
    .projPic{
        max-width: 100em;
    }


    .nav-item a {
        color: white;
        text-decoration: none;
        font-size: 16px;
    }

    /* Hamburger Button */
    

/* Responsive Design */
    .nav-items {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        justify-content: center;
        align-items: center;
        gap: 20px;
        z-index: 999;
    }

    .nav-items.active {
        display: flex;
    }

    .nav-toggle {
        display: block;
    }

    .nav-item a {
        font-size: 20px;
    }
    

    
}